<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andrei Misiurov - Junior C++ / Python Developer</title>
</head>
<body>
<h1>Andrei Misiurov - Junior C++ / Python Developer</h1>
<p>Passionate C++ / Python Junior seeking job opportunities. English language level ~ B1. Ready for an interview in English.</p>
<h2>Skills</h2>
<ul>
    <li>C++ / QT (<a href="https://github.com/andreymisyurov/mlp">one of my work - Multi Layer Perceptron on GitHub</a>)</li>
    <li>Python</li>
    <li>Docker</li>
    <li>Basic database and SQL knowledge (PostgreSQL)</li>
    <li>Graph database (neo4j, Cypher)</li>
    <li>Unit testing</li>
    <li>Git</li>
    <li>CMake</li>
    <li>Bash (a little bit)</li>
    <li>Experience with CLion / Visual Studio Code / DataGrip</li>
    <li>Multi-threaded programming experience</li>
    <li>Over 2500 hours programming experience</li>
</ul>
<h2>LinkedIn</h2>
<p>You can find my LinkedIn profile <a href="https://www.linkedin.com/in/andreymisyurov/">here</a>.</p>
<h2>Hobbies</h2>
<p>Sports (mountaineering, parachuting).</p>
<h2>Some of my GitHub Projects</h2>
<ul>
    <li>Analise Graph Data Base (neo4j, Cypher, python, docker) <a href="https://github.com/andreymisyurov/neo4j_db">HERE</a></li>
    <li>Creating an "ideal" maze and finding a way through it (C++, Qt) <a href="https://github.com/andreymisyurov/matrix">HERE</a></li>
    <li>My Own Implementation The Class Containers(List, Vector, Stack) (C++, google-tests, Docker) <a href="https://github.com/andreymisyurov/my_containers">HERE</a></li>
</ul>
<p>I'll be happy to work in you company.</p>
</body>
</html>
